module.exports = {
  VCAP_SERVICES: JSON.stringify({
    "discovery": [
      {
        "credentials": {
          "url": "https://gateway.watsonplatform.net/discovery/api",
          "password": "xxxxxxxxxxxx",
          "username": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        },
        "label": "discovery",
        "provider": null,
        "plan": "free",
        "name": "discovery-service-1"
      }
    ],
    "environment_id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
    "collection_id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  }),
};
