WML_SERVICE_CREDENTIALS_URL="https://xxxxxxx.xxx.xxx"
WML_SERVICE_CREDENTIALS_USERNAME=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
WML_SERVICE_CREDENTIALS_PASSWORD=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
WML_ENDPOINT_URL="https://xxxxxxx.xxx.xxx"